@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&family=Roboto:wght@100&display=swap");

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  color: #fdfffc;
}

a {
  margin: 5px;
  color: #2ec4b6;
}

.about {
  /* color: #E71D36; */
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  opacity: 0;
  animation: transitionIn 0.75s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.bio {
  justify-content: center;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", cursive;
  font: 400;
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

div {
  text-align: center;
}

img {
  max-width: 18em;
  border-radius: 12px;
}

.link {
  color: #2ec4b6;
  animation-delay: 2s;
  opacity: 0;
  animation: transitionIn 0.75s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

links {
  display: inline-block;
  justify-content: space-between;
  margin: 1em 0 0 0;
}

.logo {
  width: 5em;
}

.logoAndName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 1em;
  opacity: 0;
  animation: transitionIn 0.75s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

p {
  font-size: 1em;
}

.project {
  width: 25em;
}

.project-container {
  display: flex;
  justify-content: center;
  color: #ff9f1c;
  opacity: 0;
  animation: transitionIn 0.75s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.technologies {
  opacity: 0;
  animation: transitionIn 0.75s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  max-width: 70em;
  padding: 10px;
  padding-bottom: 2em;
}

.technologiescube {
  display: none;
}

@media (max-width: 640px) {

  html{
    display: flex;
  }

  .about {
  /* color: #E71D36; */
  margin-left: auto;
  margin-right: auto;
  }

  .biontech {
    font-size: 25px;
  }

  img.technologiescube {
    margin-right: auto;
    margin-left: auto;
  }

  .link {
    display: inline-block;

    margin: 1.5em .5em 0;
    font-size: 12px;
  }

  .logoAndName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin: 1em;
    opacity: 0;
    animation: transitionIn 0.75s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  p{
    font-size: 10px;
  }

  .project-container {
    display: inline-block;
    align-items: center;
    color: #ff9f1c;
    opacity: 0;
    animation: transitionIn 0.75s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }

  .technologies {
    display: none;
  }

  .technologiescube {
    width: 60%;
    justify-self: unset;
    display: flex;
    padding: 1em auto;
    opacity: 0;
    animation: transitionIn 0.75s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }

  #tsparticles {
    position: fixed;
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
}
